.clientForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  background-color: $lightGrey;

  .wrapper {
    text-align: center;
  }

  button {
    margin-top: 20px;
    width: max-content;
    color: white;
  }
}
