footer {
  background-color: $green;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .fas::before,
  .fab::before {
    font-size: 20px;
  }
}

ul {
  display: flex;
  justify-content: center;
  padding-top: 10px;

  li {
    padding-right: 10px;

    a {
      text-decoration: none;
      color: black;
    }
  }
}
