// right header styles
header {
  display: flex;

  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  .headerBoxLeft,
  .headerBoxRight {
    flex: 1;
  }

  img {
    max-width: 100%;
    max-height: 485px;
  }

  // Left side of header
  .headerBoxLeft {
    background: $lightGrey;
    display: grid;
    grid-template-columns: auto repeat(6, minmax(auto, 100px));
    width: 50%;

    // left contents
    .headerLeftNav {
      grid-column: 2 / 8;
      display: flex;

      // space between page links and social links
      nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 40px;

        height: max-content;
      }

      ul {
        display: flex;
        padding-top: 40px;

        // list item designs (navbar)
        li {
          &:not(:last-child) {
            padding-right: 20px;
          }

          // link designs
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }

    // nav bar hover effects
    i:hover,
    li:hover {
      color: $burgundy;
      cursor: pointer;
    }

    .navBarLi:hover {
      text-decoration: underline;
    }

    // large image
    .imageContainer {
      grid-column: 2 / 8;
      padding: 20px;
    }

    // HT Income logo image
    .logo {
      margin-top: 20px;
      width: 70px;
      height: 70px;
    }
  }

  .fab::before,
  .fas::before {
    font-size: 29px;
  }

  // Header right
  .headerBoxRight {
    background: $green;
    display: grid;
    grid-template-columns: repeat(6, minmax(16.6%, 100px)) auto;

    // right header contents
    .headerBoxRightContents {
      grid-column: 1 / 6;
      padding: 100px;

      // paragraph
      p {
        padding-top: 20px;
        text-align: left;
      }
    }
  }
}
