.services {
  padding: 50px 0;
  background-color: $lightGrey;

  .wrapper {
    ul {
      display: flex;
      justify-content: space-evenly;

      li {
        text-align: center;
        div {
          padding-top: 20px;
        }
      }

      img {
        border-radius: 50%;
        background-color: $darkGrey;
        padding: 30px;
      }
    }
  }
}
